.home_cocktail_list {
  width: 70vw;
  border-right: 3px solid rgba(70, 93, 87, 0.3);
}

.home_cocktails_reviews {
  display: flex;
  flex-flow: row;
  /* justify-content: space-evenly; */
}

.review_feed_div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 30vw;
  padding: 20px 0;
  background-color: #c2a684;
}

/* 
.review_feed_div h1 {
  color:#121715;
  order: 1;
} */
