#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal_background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #d1c1ae;
  border-radius: 30px;
}


@media only screen and (max-width: 501px) {
  #modal {
    align-items: flex-end;
  }
  #modal_content {
    border-radius: 0;
  }
}
