.add_review_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f7f7;
  padding: 20px;
  border-radius: 20px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
}

.add_review_div h2 {
  color: #090c0b;
}

.add_review_form {
  display: flex;
  flex-direction: column;
}

.add_review_form {
  display: flex;
  flex-direction: column;
}

.add_review_form textarea {
  width: 40vw;
  height: 10vh;
}
.add_review_button {
  align-self: center;
  width: fit-content;
  margin-top: 10px;
}


@media only screen and (min-width: 1000px) and (max-width: 3000px) {

}

@media only screen and (min-width: 750px) and (max-width: 999px) {

}

@media only screen and (min-width: 502px) and (max-width: 750px) {

}

@media only screen and (max-width: 501px) {

}
