.cocktail_add_div {
  display: flex;
}

.cocktail_add_img_div {
  width: 60%;
  height: calc(100vh - 60px);
  display: flex;
}

.background_image {
  background-image: url("https://source.unsplash.com/QYWYnzvPTAQ");
  width: 60vw;
  filter: blur(2px);
  transform: scale(1.04);
  z-index: -2;
  height: calc(100vh - 60px);
  background-size: cover;
  background-position: bottom 0 left 0;
  background-repeat: no-repeat;
}

.bg_text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  color: #F6F4F4;
  font-weight: bold;
  border: 3px solid #F6F4F4;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 20px;
  text-align: center;
  /* z-index: -2; */
}

.cocktail_add_img_div img {
  z-index: -1;
}

.add_cocktail_form_div {
  /* width: 100%; */
  /* padding-left: 10%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  background-color: #465d57;
}

.add_cocktail_form {
  width: 40vw;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  background-color: #F6F4F4;
}
.add_cocktail_form input {
  align-items: space-between;
  height: 25px;
  border: none;
  border-radius: 60px;
  font-size: 14px;
  padding-left: 10px;
  margin: 10px 0;
}
.add_cocktail_form_div h2 {
  width: fit-content;
  padding: 20px 0;
}
.add_cocktail_button {
  margin-top: 5px;
  width: fit-content;
  align-self: center;
}

@media only screen and (min-width: 1000px) and (max-width: 3000px) {
}

@media only screen and (min-width: 750px) and (max-width: 999px) {
  .background_image, .cocktail_add_img_div {
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (min-width: 502px) and (max-width: 750px) {
  .background_image, .cocktail_add_img_div {
    background-size: cover;
    background-position: center;
  }

  .add_cocktail_form {
    padding: 20px;
  }
}

@media only screen and (max-width: 501px) {
  .cocktail_add_div {
    display: flex;
    flex-direction: column;
  }

  .background_image, .cocktail_add_img_div {
    width: 100vw;
    height: 50vh;
  }

  .add_cocktail_form {
    width: 100vh;
    height: 100%;
    padding: 30px 60px 25px 60px;
  }

}
