/* links in capital letters on menu, any heder-type stuff */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #dfdbd8;
  overflow-x: hidden;
}

button {
  color: #c2a27c;
  font-weight: bold;
  padding: 10px 25px;
  background-color: #232e2b;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  width: fit-content;
  margin: 3px;
}

button:hover {
  background-color: #090c0b;
  box-shadow: -2px 2px rgba(0, 0, 0, 0.142);
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}

a,
p,
h1,
h2,
h3 {
  color: #d1c1ae;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
}

li {
  font-family: "Source Sans Pro", sans-serif;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
}

.text_small {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
  color: #d1c1ae;
}
.text_medium {
  font-family: "Source Sans Pro", sans-serif;
}

.text_large,
h1 {
  font-family: "Source Sans Pro", sans-serif;
  color: #c2a27c;
}

input,
select {
  align-items: space-between;
  height: 25px;
  border: none;
  border-radius: 60px;
  font-size: 14px;
  padding-left: 10px;
  margin: 10px 0;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
}

textarea {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
}

.errors {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: #d1c1ae;
  border-radius: 15px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
}

.errors li {
  padding: 3px 0;
  list-style: none;
}

.hidden {
  display: none;
}

.default_cursor {
  cursor: default;
}
