#gif_credit {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  color: #F6F4F4;
  font-size: 12px;
  font-weight: bold;
  border: 3px solid #F6F4F4;
  position: absolute;
  bottom: 0%;
  left: 0%;
  /* transform: translate(-50%, -50%); */
  width: 250px;
  padding: 10px;
  margin: 15px;
  text-align: center;
  z-index: 2;
  width: 200px;
}

#gif_credit p {
  width: fit-content;
}

.credit_link:hover { 
 cursor: pointer;
}
