.bar_container {
  display: flex;
  align-items: center;
  width: 80vw;
  max-width: 1300px;
  background-color: #c2a684;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
}

.bar_img_container {
  background-color: #465d57;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background-position: center;
  background-size: 350px;
  background-repeat: no-repeat;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-right: 10px;
}

.bar_content {
  width: 75%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.bar_content h1 {
  color: #232e2b;
  padding-bottom: 0px;
}

.bar_content p:first-of-type {
  color: #836540;
  font-style: italic;
  padding-bottom: 10px;
}

.bar_content p {
  color: #465d57;
}

.bar_card_button_container {
  display: flex;
  justify-content: flex-end;
}

.bar_content a button,
.bar_content span button {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  padding: 9px;
  border-radius: 50px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
}

.bar_content span button {
  cursor: alias;
}

@media only screen and (max-width: 800px) {
  .bar_container {
    width: 90vw;
  }
}

@media only screen and (max-width: 600px) {
  .bar_container {
    flex-direction: column;
  }

  .bar_img_container {
    margin-bottom: 10px;
    width: 60vw;
  }

  .bar_content {
    width: 100%;
    align-items: center;
  }

  .bar_card_button_container {
    justify-content: center;
  }
}
