#signup_form {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #c2a27c;
}

#signup_form input {
  align-items: space-between;
  height: 25px;
  border: none;
  border-radius: 60px;
  font-size: 14px;
  padding-left: 10px;
  margin: 10px 0;
  width: 30vw;
}


@media only screen and (max-width: 501px) {
  #signup_img_div {
    height: 50vh;
  }

  #signup_form {
    height: calc(50vh - 60px);
    width: 100vw;
    padding: 30px 60px 25px 60px;
  }

  #signup_form input {
    width: 55vw;
  }

}
