nav {
  background-color: #090c0b;
  height: 60px;
}

nav ul.horizontal_nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  padding: 0 40px;
}

nav ul li {
  list-style: none;
}

li .text_large {
  font-size: 20px;
  padding: 0 15px;
}

#about_me_container {
  display: flex;
  align-items: center;
}

#about_me_container div {
  background-color: #a38662;
  border-radius: 20px;
  padding: 2px 4px;
  margin: 0 5px;
}

#about_me_container div:hover {
  background-color: #836540;
}

#about_me_container div a i {
  color: #232e2b;
}

/* Desktop session links */
.large_session {
  background-color: #090c0b;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: fit-content;
  width: 20vw;
}

.large_session span {
  background-color: #a38662;
  display: flex;
  align-items: center;
}
/* Tablet session links */
#profile_button {
  padding: 8px 10px;
}

.profile-dropdown,
.menu_dropdown {
  background-color: #090c0b;
  color: #d1c1ae;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 4;
  height: 120px;
  padding-bottom: 5px;
  position: absolute;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 150px;
}

/* Logged out session links */
.logged_out_session_links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 26vw;
}

/* Burger menu */
.menu,
.menu_dropdown {
  display: none;
}

@media only screen and (min-width: 800px) {
  #profile_button {
    display: none;
  }
}

@media only screen and (max-width: 950px) {
  .logged_out_session_links {
    width: 31vw;
  }
}

@media only screen and (max-width: 800px) {
  li .text_large {
    font-size: 16px;
    padding: 0 10px;
  }

  .logged_out_session_links {
    width: 45vw;
  }

  .large_session {
    display: none;
  }

  nav ul.horizontal_nav {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 715px) {
  nav ul.horizontal_nav {
    justify-content: space-between;
    width: 100vw;
    padding: 0 40px;
  }

  .large_session,
  .med_session,
  .logged_out_session_links,
  .horizontal_nav li {
    display: none;
  }
  .menu,
  .menu_dropdown {
    display: flex;
  }

  .menu_dropdown {
    width: 60vw;
    height: 100vh;
    right: 0;
  }

  .menu_user_div {
    background-color: rgba(163, 134, 98, 0.8);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 35vw;
    height: 20vh;
    border-radius: 20px;
  }

  .menu_user_div div#icon_name_container {
    display: flex;
    align-items: center;
  }

  .menu_dropdown li .text_large {
    font-size: 25px;
  }

  .menu_dropdown button,
  .menu_dropdown a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .menu_dropdown {
    width: 100vw;
  }
}
